# user-defined
*.code-workspace
**/.vscode/settings.json
.mypy_cache
tags*

# configuration files
proto/python/src/soil_power_sensor_protobuf/config/Load/*.json

# docs
doxygen/build

# cppcheck
*.ctu-info
*.dump

## Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
